*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
div{
	float: left;
}
 body{
 	font-family: sans-serif;
 }
 .main{
 	width: 100%;
 	height: 850px;
 	font-size: 25px;
 	background-image: url(../images/bgimg.png);
    background-size: 100% 800px;
    background-repeat: no-repeat;
 }
 .box{
 	width: 100%;
 	height: 150px;
 }
 .box img{
    margin-left: 50px;
    margin-top: 40px;
 }
 .box1{
    width: 560px;
    height: 100%;
    float: right;
}
 .box1 .logo{
    margin-left: 200px;
 }
 .box1 p{
    color: #3d2514;
    font-size: 17px;
    margin-left: 265px;
    margin-top: -30px;
 }
 .box1 ul li{
    font-size: 21px;
    padding: 16px;
    display: inline;
    line-height: 85px;
 }
 .box1 ul li a{
    text-decoration: none;
    color: #3d2514;
 }
 .box2{
    width: 45%;
    height: 500px;
    float: left;
 }
 .box2 p{
    width: 85%;
    height: 23%;
    font-size: 18px;
    color: #3d2514;
    margin-left: 50px;
    line-height: 100px;
    margin-top: 150px;
    border: 10px dashed #3d2514;
 }
 .box2 h1{
    font-size: 114px;
    color: #3d2514;
    margin-top: 20px;
    margin-left: 50px;
 }
 .box2 h2{
    font-size: 56px;
    color: #3d2514;
    margin-left: 50px;
}
.box3{
    width: 54%;
    height: 600px;
    float: left;
}
.box3 img{
    width: 810px;
    height: 827px;
    margin-top: -75px;
    margin-left: -70px;
}
.box3 p{
    font-size: 25px;
    color: white;
    margin-top: -315px;
    margin-left: 160px;
}
.main1{
    width: 100%;
    height: 500px;
}
.main1 .box4{
    width: 595px;
    height: 420px;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
}
.box4 p{
    font-size: 22px;
    color: #fff;
    margin-left: 10px;
    padding: 10px;
}
.box4 h2{
    font-size: 25px;
    color: #fff;
    margin-left: 25px;
}
.main1 .box5{
    width: 595px;
    height: 190px;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(../images/img2.png);
    background-repeat: no-repeat;
}
.box5 p{
    font-size: 22px;
    color: #fff;
    margin-left: 20px;
    line-height: 50px;
}
.box5 h2{
    font-size: 25px;
    color: #fff;
    margin-left: 25px;
}
.main1 .box6{
    width: 595px;
    height: 190px;
    margin-left: 50px;
    margin-top: 40px;
    background-image: url(../images/img3.png);
    background-repeat: no-repeat;
}
.box6 p{
    font-size: 22px;
    color: #fff;
    margin-left: 20px;
    padding: 10px;
}
.box6 h2{
    font-size: 25px;
    color: #fff;
    margin-left: 25px;
}
.main2{
    width: 100%;
    height: 250px;
}
.main2 button{
    width: 220px;
    height: 60px;
    font-size: 15px;
    color: #3d2514;
    background-color: #ffbf45;
    border: 1px solid #ffbf45;
    margin-left: 42%;
}
.main2 h2{
    font-size: 50px;
    color: #3d2514;
    margin-left: 460px;
    margin-top: 30px;
}
.main2 p{
    margin-left: 255px;
    font-size: 17px;
    margin-top: 30px;
    color: #3d2514;
}
.main2 article{
    margin-left: 410px;
    margin-top: 10px;
     font-size: 17px;
    color: #3d2514;
}
.main3{
    width: 100%;
    height: 650px;
}
.box7{
    width: 30%;
    height: 100%;
}
.box7 img{
    margin-top: 40px;
}
.box7 h2{
    font-size: 26px;
    margin-left: 60px;
    color: #3d2514;
}
.box7 p{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    color: #3d2514;
}
.box7 article{
    margin-left: 100px;
    font-size: 20px;
    color: #3d2514;
}
.box7 button{
    width: 195px;
    height: 60px;
    background-color: #bf2121;
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 95px;
    border: 1px solid #bf2121;
}
.box8{
    width: 37%;
    height: 100%;
}
.box8 img{
    margin-top: 10px;
    margin-left: 40px;
}
.box8 h2{
    font-size: 26px;
    margin-left: 120px;
    color: #3d2514;
}
.box8 p{
    font-size: 20px;
    margin-left: 85px;
    margin-top: 20px;
    color: #3d2514;
}
.box8 article{
    margin-left: 170px;
    font-size: 20px;
    color: #3d2514;
}
.box8 button{
    width: 195px;
    height: 60px;
    background-color: #bf2121;
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 175px;
    border: 1px solid #bf2121;
}
.box9{
    width: 33%;
    height: 100%;
}
.box9 img{
    margin-top: 40px;
    width: 445px;
    height: 321px;
}
.box9 h2{
    font-size: 26px;
    margin-left: 60px;
    color: #3d2514;
}
.box9 p{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    color: #3d2514;
}
.box9 article{
    margin-left: 100px;
    font-size: 20px;
    color: #3d2514;
}
.box9 button{
    width: 195px;
    height: 60px;
    background-color: #bf2121;
    color: #fff;
    font-size: 17px;
    margin-top: 25px;
    margin-left: 95px;
    border: 1px solid #bf2121;
}
.main4{
    width: 90%;
    height: 500px;
    background-color: #fff;
    box-shadow: 4px 5px 9px 0px #dfdbdb;
    margin-left: 70px;
    margin-top: 20px;
}
.box_1{
    width: 550px;
    height: 100%;
}
.box_1 p{
    font-size: 29px;
    color: #3d3d3d;
    margin-left: 15px;
    margin-top: 95px;
}
.box_1 h2{
    font-size: 42px;
    color: #3d2514;
    margin-left: 15px;
}
.box_1 article{
    font-size: 21px;
    color: #3d3d3d;
    margin-left: 15px;
    margin-top: 30px;
}
.box_2{
    width: 660px;
    height: 100%;
    background-image: url(../images/img6.png);
    background-size: 640px 93%;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.main5{
    width: 100%;
    height: 720px;
    margin-top: 20px;
    background-image: url(../images/img7.png);
    background-repeat: no-repeat;
}
.main5 p{
    text-align: center;
    font-size: 29px;
    color: #3d2514;
    margin-top: 85px;
}
.main5 h2{
    text-align: center;
    font-size: 50px;
    color: #3d2514;
}
.box_3{
    width: 855px;
    height: 500px;
    margin-left: 285px;
}
.box_3 input{
     width: 365px;
     height: 75px;
     margin-top: 50px;
     margin-left: 50px;
     border-radius: 8px;
     border: 2px solid #ccc;
}
.box_3 button{
     width: 365px;
     height: 75px;
     margin-top: 50px;
     margin-left: 50px;
     color: #fff;
     font-size: 21px;
     background-color: #bf2121;
     border: 1px solid  #bf2121;
     border-radius: 8px;
}
.main6{
    width: 90%;
    height: 600px;
    background-image: url(../images/bgimg1.png);
    background-repeat: no-repeat;
    margin-left: 70px;
}
.box_4{
    width: 610px;
    height: 100%;
}
.box_4 img{
    margin-left: 50px;
    margin-top: 80px;
}
.box_4 p{
    margin-left: 50px;
    margin-top: 65px;
    font-size: 17px;
    color: #fff;
    line-height: 30px;
}
.box_4 article{
    color: #fff;
    margin-left: 50px;
    margin-top: 120px;
    font-size: 17px;
}
.box_5{
    width: 600px;
    height: 310px;
    margin-top: 220px;
}
.box_5 img{
    margin-top: 15px;
    margin-left: 40px;
    position: absolute;
}
.box_5 article{
    color: #fff;
    margin-left: 105px;
    margin-top: 15px;
    font-size: 21px;
}
.box_5 .logo{
    margin-top: 170px;
    margin-left: 420px;
}
@media screen and (max-width:320px){
    .main {
    width: 100%;
    height: 500px;
    font-size: 25px;
    background-image: url(../images/bgimg.png);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    }
    .box {
    width: 100%;
    height: 150px;
    }
    .box img {
    margin-left: 95px;
    margin-top: 15px;
    width: 145px;
    }
    .box1 .logo {
    margin-left: 170px;
    width: 50px;
    }
    .box1 p {
    color: #3d2514;
    font-size: 17px;
    margin-left: 246px;
    margin-top: -43px;
    }
    .box1 ul li {
    font-size: 15px;
    padding: 22px;
    display: inline;
    line-height: 15px;
    }
    .box1 ul li a {
    text-decoration: none;
    color: #3d2514;
    margin-left: 344px;
    }
    .box2 p {
    width: 100%;
    height: 9%;
    font-size: 12px;
    color: #3d2514;
    margin-left: 0px; 
    line-height: 13px;
    margin-top: 145px;
    border: 2px dashed #3d2514;
    }
    .box2 h1 {
    font-size: 35px;
    color: #3d2514;
    margin-top: 15px;
    margin-left: 0px; 
    }
    .box2 h2 {
    font-size: 27px;
    color: #3d2514;
    margin-left: 0px; 
    }
    .box3 img {
    width: 200px;
    height: 335px;
    margin-top: 35px;
    margin-left: 0px; 
    }
    .box3 p {
    font-size: 10px;
    color: white;
    margin-top: -130px;
    margin-left: 52px;
    }
    .main1 {
    width: 100%;
    height: 730px;
    }
    .main1 .box4 {
    width: 100%;
    height: 215px;
    margin-left: 0px; 
    margin-top: 20px;
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    }
    .box4 p {
    font-size: 15px;
    color: #fff;
    margin-left: 5px;
    padding: 5px;
    }
    .box4 h2 {
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
    }
    .main1 .box5 {
    width: 100%;
    height: 215px;
    margin-left: 0px; 
    margin-top: 20px;
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    }
    .box5 p {
    font-size: 15px;
    color: #fff;
    margin-left: 5px;
    padding: 5px;
    }
    .box5 h2 {
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
    }
    .main1 .box6 {
    width: 100%;
    height: 215px;
    margin-left: 0px; 
    margin-top: 20px;
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    }
    .box6 p {
    font-size: 15px;
    color: #fff;
    margin-left: 5px;
    padding: 5px;
    }
    .box6 h2 {
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
    }
    .main2 button {
    width: 150px;
    height: 50px;
    font-size: 12px;
    color: #3d2514;
    background-color: #ffbf45;
    border: 1px solid #ffbf45;
    margin-left: 27%;
    }
    .main2 h2 {
    font-size: 20px;
    color: #3d2514;
    margin-left: 75px;
    margin-top: 20px;
    }
    .main2 p {
    margin-left: 0px; 
    font-size: 13px;
    margin-top: 20px;
    color: #3d2514;
    text-align: center;
    }
    .main2 article {
    margin-left: 0px; 
    margin-top: 15px;
    font-size: 13px;
    color: #3d2514;
    text-align: center;
    }
    .main3 {
    width: 100%;
    height: 300px;
    }
    .box7 img {
    margin-top: 20px;
    width: 95px;
    }
    .box7 h2 {
    font-size: 13px;
    margin-left: 0px; 
    color: #3d2514;
    }
    .box7 p {
    font-size: 12px;
    margin-left: 0px; 
    margin-top: 10px;
    color: #3d2514;
    }
    .box7 article {
    margin-left: 0px; 
    font-size: 12px;
    color: #3d2514;
    margin-top: 10px;
    }
    .box7 button {
    width: 85px;
    height: 42px;
    background-color: #bf2121;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 0px; 
    border: 1px solid #bf2121;
    }
    .box8 img {
    margin-top: 4px;
    width: 95px;
    margin-left: 0px;
    }
    .box8 h2 {
    font-size: 12px;
    margin-left: 0px; 
    color: #3d2514;
    }
    .box8 p {
    font-size: 13px;
    margin-left: 0px; 
    margin-top: 10px;
    color: #3d2514;
    }
    .box8 article {
    margin-left: 0px; 
    font-size: 13px;
    color: #3d2514;
    margin-top: 10px;
    }
    .box8 button {
    width: 85px;
    height: 42px;
    background-color: #bf2121;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 0px; 
    border: 1px solid #bf2121;
    }
    .box9 img {
    margin-top: 13px;
    width: 95px;
    height: 70px;
    }
    .box9 h2 {
    font-size: 13px;
    margin-left: 0px; 
    color: #3d2514;
    }
    .box9 p {
    font-size: 12px;
    margin-left: 0px; 
    margin-top: 10px;
    color: #3d2514;
    }
    .box9 article {
    margin-left: 0px; 
    font-size: 12px;
    color: #3d2514;
    margin-top: 10px;
    }
    .box9 button {
    width: 85px;
    height: 42px;
    background-color: #bf2121;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 0px; 
    border: 1px solid #bf2121;
    }
    .main4 {
    width: 100%;
    height: 280px;
    background-color: #fff;
    box-shadow: 4px 5px 9px 0px #dfdbdb;
    margin-left: 0px; 
    margin-top: 10px;
    }
    .box_1 {
    width: 50%;
    height: 100%;
    }
    .box_1 p {
    font-size: 15px;
    color: #3d3d3d;
    margin-left: 0px; 
    margin-top: 35px;
    }
    .box_1 h2 {
    font-size: 24px;
    color: #3d2514;
    margin-left: 0px; 
    }
    .box_1 article {
    font-size: 12px;
    color: #3d3d3d;
    margin-left: 0px; 
    margin-top: 8px;
    }
    .box_2 {
    width: 50%;
    height: 100%;
    background-image: url(../images/img6.png);
    background-size: 100% 180px;
    background-repeat: no-repeat;
    margin-top: 60px;
    }
    .main5 {
    width: 100%;
    height: 380px;
    margin-top: 20px;
    background-image: url(../images/img7.png);
    background-repeat: no-repeat;
    background-size: 100% 355px;
    }
    .main5 p {
    text-align: center;
    font-size: 14px;
    color: #3d2514;
    margin-top: 0px; 
    }
    .main5 h2 {
    text-align: center;
    font-size: 20px;
    color: #3d2514;
    margin-top: 15px;
    }
    .box_3 {
    width: 100%;
    height: 500px;
    margin-left: 0px; 
    }
    .box_3 input {
    width: 200px;
    height: 40px;
    margin-top: 11px;
    margin-left: 59px;
    border-radius: 8px;
    border: 2px solid #ccc;
    }
    .box_3 button {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-left: 60px;
    color: #fff;
    font-size: 14px;
    background-color: #bf2121;
    border: 1px solid #bf2121;
    border-radius: 8px;
    }
    .main6 {
    width: 100%;
    height: 360px;
    background-image: url(../images/bgimg1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 0px; 
    }
    .box_4 {
    width: 50%;
    height: 100%;
    }
    .box_4 img {
    margin-left: 0px; 
    margin-top: 40px;
    width: 160px;
    height: 40px;
    }
    .box_4 p {
    margin-left: 0px; 
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    width: 149px;
    }
    .box_4 article {
    color: #fff;
    margin-left: 0px; 
    margin-top: 50px;
    font-size: 10px;
    }
    .box_5 {
    width: 50%;
    height: 100%;
    margin-top: 69px;
    }
    .box_5 img {
    margin-top: 73px;
    margin-left: 0px; 
    position: absolute;
    width: 11px;
    }
    .box_5 article {
    color: #fff;
    margin-left: 18px;
    margin-top: 70px;
    font-size: 10px;
    }
    .box_5 .logo {
    margin-top: 71px;
    margin-left: 35px;
    width: 100px;
    }
}